.comments {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.comments h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.past-comments {
    max-height: 290px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.comment-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.comment-picture img {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-right: 10px;
}

.comment-content {
    flex: 1;
}

.comment-name {
    margin: 0px;
    font-weight: bold;
    font-size: 15px;
    color: var(--secondary);
}

.comment-date {
    margin: 0px 0px 3px 0px;
    font-size: 10px;
    color: gray;
}

.comment-content {
    margin: 0px;
    font-size: 13px;
}

.form-comments {
    display: flex;
    align-items: center;
}

.form-comments input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-comments button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
}

.form-comments button:hover {
    background-color: var(--secondary);
}

.user-link {
    text-decoration: none;
    color: inherit;
}
