.stock-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    margin-left: 150px;
    width: 50%;
}

.stock-news h1 {
    margin: 0px;
    font-size: 30px;
}
