.friend {
    display: flex;
    justify-content: flex-end;
}

.friend button {
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

.friend button:hover {
    background-color: var(--secondary);
}

.hidden {
    display: none;
}
