.stocks-you-follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 75px 0px 0px;
    flex: 3;
}

.stock-link {
    text-decoration: none;
    color: inherit;
}

.stock-you-follow {
    width: 220px;
}
