.search-table {
    margin-bottom: 30px;
    border-collapse: collapse;
    width: 60%;
    user-select: none;
}

.search-table img {
    border: 2px solid black;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

#stock-ticker {
    user-select: none;
    color: #4935f8;
}

.search-table td,
.search-table th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

.search-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.search-table tr:hover {
    background-color: #ddd;
}

.search-table th {
    background-color: var(--primary);
    color: white;
}
