.comment-details {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.comment-picture img {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-right: 10px;
}

.comment-content {
    flex: 1;
}

.comment-name {
    margin: 0px;
    font-weight: bold;
    font-size: 15px;
    color: #1e88e5;
}

.comment-date {
    margin: 0px 0px 3px 0px;
    font-size: 10px;
    color: gray;
}

.comment-content {
    margin: 0px;
    font-size: 13px;
}