.navbar {
    display: flex;
    justify-content: left;
    background-color: var(--black);
}

.navbar a {
    padding: 30px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 25px;
}