.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    flex: 0 0 auto;
}

.nav-pages {
    padding: 35px;
}

.nav-pages a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-right: 50px;
}

.nav-profile {
    padding: 35px;
}

.nav-profile a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.login {
    background-color: var(--primary);
    padding: 15px;
    border-radius: 10px;
}

.login:hover {
    background-color: var(--secondary);
}

.logout {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-info img {
    width: 40px; /* Adjust the image size as needed */
    height: 40px;
    border-radius: 50%; /* To make it a circle, assuming the image is square */
    margin-right: 10px; /* Add some space between the image and username */
}

.user-info p {
    margin: 0;
    color: white;
    font-size: 30px;
    user-select: none;
}

.logout a {
    color: var(--primary);
    font-size: 30px;
}
