.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    flex: 0 0 auto;
}

.nav-pages {
    padding: 35px;
}

.nav-pages a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-right: 50px;
}

.nav-profile {
    padding: 35px;
}

.nav-profile a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.login {
    background-color: var(--primary);
    padding: 15px;
    border-radius: 10px;
}

.login:hover {
    background-color: var(--secondary);
}

.logout {
    display: flex;
}

.logout p {
    margin: 0px;
    color: white;
    font-size: 25px;
    user-select: none;
    padding-right: 10px;
}

.logout a {
    color: var(--primary);
}
