.search-dropdown {
    width: 50%;
    background-color: #fff;
    border: 1px solid black;
    border-top: none;
}

.search-dropdown-item {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.search-dropdown-item p {
    margin: 0px;
}

.search-dropdown-item:hover {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}