.friends {
    cursor: pointer;
}

.chat {
    display: flex;
    height: 90vh;
    width: 100%;
}

.friends-list {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
    margin-top: 20px;
}

.friends-card {
    width: 100%;
}

.friends-list h3 {
    text-align: center;
    margin-top: 10px;
}

.friend-picture {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
