.stocks-you-follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 100px 0px 0px;
    flex: 4;
}

.stocks-you-follow h1 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
}

.stocks-you-follow table {
    overflow: hidden;
    width: 100%;
}

.stocks-you-follow table th,
.stocks-you-follow table td {
    padding: 10px;
    vertical-align: middle;
}

.stocks-you-follow table th {
    text-align: center;
}

.stock-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock-follow-logo {
    display: flex;
    height: 60px;
    align-items: center;
}

.stock-follow-logo img {
    border-radius: 20px;
    border: 2px solid white;
}

.rounded-table {
    border-radius: 15px;
}

.stock-link {
    text-decoration: none;
}
