.follow {
    margin-left: 10px;
}

.follow button {
    display: block;
    height: 100%;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 70px;
}

.follow button:hover {
    background-color: var(--secondary);
}
