.stock-data {
    display: flex;
    justify-content: center;
}

.stock-details {
    width: 50%;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
}

.stock-name {
    font-size: 30px;
    font-weight: 600;
    margin: 0px 0px 15px 0px;
}

.stock-price {
    margin: 0px;
    font-size: 25px;
    font-weight: 600;
    color: var(--primary);
}

.stock-follow {
    display: flex;
}

.stock-logo {
    display: flex;
    justify-content: right;
    width: 50%;
}

.stock-logo img {
    height: auto;
    width: auto;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    margin-top: 25px;
    background-color: var(--primary);
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.loading p {
    margin: 0px;
}

.stock-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    margin-top: 25px;
    background-color: #e63946;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.stock-not-found p {
    margin: 0px;
}
