.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.search input{
    padding: 10px;
    width: 40%;
    border: 3px solid var(--primary);
}

.search button {
    background: var(--primary);
    border: none;
}

.search i {
    height: 39px;
    width: 30px;
    background: var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}