.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px 25px 0px;
    width: 100%;
}

.search-bar {
    display: flex;
    justify-content: center;
    width: 50%;
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 3px solid var(--black);
    float: left;
    width: 90%;
    background: #f1f1f1;
    outline: none;
}

.search-bar button {
    float: left;
    width: auto;
    padding: 10px;
    background: var(--primary);
    color: white;
    font-size: 17px;
    border: 3px solid var(--black);
    border-left: none;
    cursor: pointer;
    width: 10%;
}

.search-bar button:hover {
    background: var(--secondary);
}
